* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    background: url('../img/FONDO_Nayely.jpeg.jpeg') no-repeat;
    background-size: auto;
  }
  
  .box {
    width: 600px;
    background: rgba(103, 184, 224, 0.4);
    padding: 20px;
    text-align: center;
    margin: 0 auto;
    margin-top: 4%;
    color: rgb(50, 3, 160);
    font-family: 'Georgia', sans-serif;
    border-radius: 15px;
    /* box-shadow: 7px 13px 37px black; */
  }
  
  .box-img {
    border-radius: 40%;
  }
  
  .box h1 {
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
    margin: 30px 0 20px;
  }
  
  .box h2 {
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
    margin-bottom: 30px
  }
  
  .box p {
    text-align: justify;
  }
  
  .box ul {
    margin-top: 20px;
    list-style: none;
  }
  
  .box ul li {
    display: inline-block;
  }
  .box ul li a {
    color: rgb(108, 211, 236);
    font-size: 45px;
    padding: 10px 5px;
    transition: all .5s ease-in-out;
    display: block;
  }
  
  .box ul li a:hover {
    color:#31add3;
    transform: scale(1.3);
  }